#contactSection {
  margin: 2vw 0 0 0;
  #contactSearchActionsContainer {
    display: flex;
    justify-content: space-between;
    #contactsSearchDiv {
      width: 40vw;
      margin: 0 0 0 2vw;
      #contactsSearchDivTitle {
        font-size: 3vw;
        margin: 0 0 0.5vw 0;
      }
      #contactsSearchBarPlusIcon {
        display: flex;
        align-items: center;
        #searchBar {
          width: 70%;
          #contactsSearchBar {
            border: 1px solid rgb(130, 174, 255);
            margin: 0 0 0 0vw;
            border-radius: 0.3vw;
            height: 2.5vw;
            display: flex;
            justify-content: center;
            align-items: center;
            #contactsSearchBarTextInput {
              font-size: 1.3vw;
              border: none;
              width: 92%;
              font-weight: 300;
            }
            #contactsSearchBarArrowIcon {
              cursor: pointer;
              width: 0.7vw;
              height: 0.7vw;
              transform: rotate(180deg);
              padding: 0.557vw;
            }
          }
          #contactsSearchBarResults {
            height: 10vw;
            width: 28vw;
            z-index: 3;
            background-color: white;
            position: absolute;
            display: none;
            overflow: hidden;
            box-shadow: -3px 3px 3px rgb(204, 204, 204);
            border-radius: 0.3vw;
            border: 1px solid rgb(233, 233, 233);
            border-top: none;
            margin-top: 0.2vw;
            .resultDiv {
              display: flex;
              cursor: pointer;
              margin: 0.5vw 0;
              .liTitle {
                margin: 0;
                margin-left: 0.5vw;
                font-size: 0.8vw;
                color: rgb(204, 204, 204);
              }
              .midLine {
                margin: 0;
                margin-left: 0.5vw;
                font-size: 0.8vw;
              }
              .liValue {
                list-style: none;
                margin-left: 0.5vw;
                font-size: 0.8vw;
              }
            }
          }
        }
      }
      #contactsSearchIcon {
        border: 1px solid rgb(130, 174, 255);
        padding: 0.5vw;
        width: 1.5vw;
        height: 1.5vw;
        border-radius: 0.2vw;
        margin-left: 0.6vw;
        cursor: pointer;
      }
    }
    #contactsActionsDiv {
      display: flex;
      justify-content: space-around;
      align-items: flex-end;
      margin: 0 2.5vw 0 0;
      width: 26vw;
      #importContactArrowIcon {
        cursor: pointer;
        width: 1.3vw;
        height: 1.3vw;
        transform: rotate(180deg);
        border: 1px solid rgb(130, 174, 255);
        margin: 0;
        border-radius: 0.2vw;
        padding: 0.6vw;
      }
      #exportContactContainer {
        #exportContact {
          display: flex;
          align-items: center;
          height: 2.5vw;
          border: 1px solid rgb(130, 174, 255);
          border-radius: 0.3vw;
          #exportContactText {
            margin: 0;
            padding: 0.6vw 0.5vw;
            font-size: 0.9vw;
            color: rgb(130, 174, 255);
          }
          #exportContactDownArrow {
            cursor: pointer;
            width: 1vw;
            height: 1vw;
            padding: 0.557vw;
          }
        }
        #exportContactDownDivs {
          z-index: 1;
          background-color: white;
          position: absolute;
          display: none;
          border: 1px solid rgb(204, 204, 204);
          width: 11.2vw;
          #exportSelectedContacts {
            cursor: pointer;
            font-size: 0.9vw;
            color: #82aeff;
            margin-top: 1.5vw;
            text-align: center;
          }
          #exportAllFilteredContacts {
            cursor: pointer;
            font-size: 0.9vw;
            color: #82aeff;
            margin-top: 1.5vw;
            margin-bottom: 1.5vw;
            text-align: center;
          }
        }
      }
      #addContact {
        display: flex;
        align-items: center;
        height: 2.5vw;
        border: 1px solid rgb(130, 174, 255);
        border-radius: 0.3vw;
        background-color: rgb(85, 85, 209);
        cursor: pointer;
        #addContactText {
          margin: 0;
          padding: 0.6vw 1vw;
          font-size: 0.8vw;
          color: white;
        }
      }
    }
  }
  #contactDashboardContainer {
    display: flex;
    flex-direction: column;
    #counterCheckboxes {
      width: 8vw;
      height: 2vw;
      background-color: rgb(229, 242, 255);
      position: relative;
      display: none;
      justify-content: center;
      align-items: center;
      margin-top: 2vw;
      margin-left: 2vw;
      margin-bottom: -0.8vw;
      border-radius: 0.3vw;
      #counterCheckboxesText {
        color: #78a6fa;
        margin: 0;
        font-size: 0.8vw;
      }
    }
    #deleteSelectedContacts {
      cursor: pointer;
      display: none;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      left: 89%;
      top: 14.5vw;
      width: 8vw;
      #trashImg {
        width: 1vw;
        height: 1vw;
      }
      #deleteSelectedConntactsText {
        margin: 0;
        color: rgb(130, 174, 255);
        font-size: 0.75vw;
      }
    }
    #contactsDashboard {
      border: 1px solid rgb(130, 174, 255);
      border-radius: 0.3vw;
      width: 95vw;
      margin: 1vw 0 0 2vw;
      order: 2;
      #contactDashboardStatic {
        width: 100%;
        display: flex;
        align-items: center;

        #contactDashboardTitlesDBInfo {
          display: flex;
          align-items: center;
          width: 100%;
          #contactsDashboardTitleCheckBoxDiv {
            width: 2.9709%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          #contactsDashboardContactsTitleDiv {
            width: 16.833%;
          }
          #contactsDashboardCountryRegionTitleDiv {
            width: 12.872%;
          }
          #contactsDashboardCompanyTitleDiv {
            width: 17.822%;
          }
          #contactsDashboardPositionTitleDiv {
            width: 11.881%;
          }
          #contactsDashboardChannelTitleDiv {
            width: 17.823%;
          }
          #contactsDashboardInterestTitleDiv {
            width: 11.892%;
          }
          .ContactDashboardTitles {
            display: flex;
            align-items: center;
            .contactDashboardTitlesTexts {
              margin: 0 0.2vw 0 0;
            }
            .contactDashboardDoubleArrow {
              width: 1vw;
              height: 1vw;
              transform: rotate(270deg);
              cursor: pointer;
            }
          }
          #contactsDashboardActionTitleDiv {
            width: 8%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
      #dashboardBreaker {
        width: 100%;
        height: 1px;
        background-color: rgb(130, 174, 255);
      }
      #contactDashboardDynamic {
        height: auto;
        display: flex;
        flex-direction: column;
        .contactDiv {
          display: flex;
          height: 6vw;
          .contactCheckBoxDiv {
            width: 3%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .contactPersonalInfo {
            width: 17%;
            display: flex;
            align-items: center;
            .contactImg {
              align-items: center;
              width: 10%;
              height: 25%;
              border-radius: 50vw;
              margin: 0 5% 0 0;
            }
            .contactNamePlusEmail {
              display: flex;
              flex-direction: column;
              justify-content: center;
              .contactName {
                margin: 0;
              }
              .contactEmail {
                font-size: 80%;
                color: gray;
                margin: 0;
              }
            }
          }

          .contactCountryPlusRegion {
            width: 13%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .contactCountry {
              margin: 0;
            }
            .contactRegion {
              font-size: 80%;
              color: gray;
              margin: 0;
            }
          }
          .contactCompany {
            width: 18%;
            display: flex;
            align-items: center;
          }
          .contactPosition {
            width: 12%;
            display: flex;
            align-items: center;
          }
          .contactPreferedChannelContainer {
            width: 18%;
            display: flex;
            align-items: center;
            .contactPreferedChannelDiv {
              background-color: rgb(203, 242, 255);
              width: 40%;

              display: flex;
              justify-content: center;
              align-items: center;
              margin-right: 0.5vw;
              border-radius: 3px;
              .contactPrefreredChannelText {
                color: rgb(129, 131, 238);
                margin: 0.5vw 0.5vw;
              }
            }
          }
          .contactInterestConteiner {
            display: flex;
            align-items: center;
            width: 12%;
            justify-content: space-between;
            .contactInterestNumber {
              width: 25%;
              font-size: 80%;
            }
            .contactInterestBar {
              height: 0.6vw;
              width: 70%;
              border-radius: 50vw;
              display: flex;
              background-color: rgb(226, 226, 226);
              .contactInterestColoredBar {
                border-radius: 50vw;
              }
            }
          }
          .contactAccionsButtonContainer {
            width: 8%;
            display: flex;
            justify-content: center;
            align-items: center;
            .contactAccionsButtonDiv {
              width: 20%;
              height: 100%;
              display: flex;
              flex-direction: column;
              justify-content: space-around;
              .contactAccionsButtonText {
                text-align: center;
                font-size: 130%;
                margin: 0;
              }
              .deleteAction {
                margin: 0;
                font-size: 0.8vw;
                color: rgb(130, 174, 255);
              }
              .updateAction {
                margin: 0;
                font-size: 0.8vw;
                color: rgb(130, 174, 255);
              }
            }
          }
        }
      }
    }
  }
}

#blurSection {
  #createContactContainer {
    display: flex;
    flex-direction: column;
    z-index: 3;
    #titleAndClose {
      z-index: 2;
      width: 100%;
      height: 4vw;
      display: flex;
      justify-content: space-between;
      align-items: center;
      #newContactTitle {
        font-size: 1.2vw;
        color: white;
        font-weight: 800;
        margin: 0 0 0 2%;
      }
      #newContactCloseButton {
        font-size: 1.2vw;
        color: white;
        font-weight: 500;
        margin: 0 2% 0 0;
      }
    }
    #contactPrincipalDataContainer {
      z-index: 2;
      border: 3px solid rgb(45, 108, 223);
      border-radius: 0.7vw;
      display: flex;
      align-items: center;
      justify-content: space-around;
      #contactPrincipalDataPhotoDiv {
        #contactPrincipalDataPhotoPlusIcon {
          height: 6vw;
          width: 6vw;
          border: 5px solid rgb(45, 108, 223);
          border-radius: 50vw;
          display: flex;
          justify-content: center;
          align-items: center;
          #contactPrincipalDataPhoto {
            height: 4.5vw;
            width: 4.5vw;
            border-radius: 50vw;
            position: absolute;
          }
          #contactPrincipalDataPhotoIconDiv {
            position: relative;
            height: 1.5vw;
            width: 1.5vw;
            border-radius: 50vw;
            z-index: 1;
            left: 2.5vw;
            top: 2vw;
            background-color: rgb(45, 108, 223);
            border: 3px solid white;
            #contactPrincipalDataPhotoIcon {
              height: 100%;
              width: 100%;
              z-index: 2;
            }
          }
        }
      }
      #contactPrincipalDataNameContainer {
        #contactPrincipalDataNameTitleDiv {
          display: flex;
          align-items: center;
          #contactPrincipalDataNameTitle {
            font-size: 80%;
            margin: 0;
          }
          .asteriscoRed {
            color: red;
          }
        }
        #contactPrincipalDataNameInput {
          height: 2.5vw;
          border-radius: 0.3vw;
          border: 1px solid rgb(199, 199, 199);
          width: 14vw;
        }
      }
      #contactPrincipalDataLastnameContainer {
        #contactPrincipalDataLastnameTitleDiv {
          display: flex;
          align-items: center;
          #contactPrincipalDataLastnameTitle {
            font-size: 80%;
            margin: 0;
          }
          .asteriscoRed {
            color: red;
          }
        }
        #contactPrincipalDataLastnameInput {
          height: 2.5vw;
          border-radius: 0.3vw;
          border: 1px solid rgb(199, 199, 199);
          width: 14vw;
        }
      }
      #contactPrincipalDataPositionContainer {
        #contactPrincipalDataPositionTitleDiv {
          display: flex;
          align-items: center;
          #contactPrincipalDataPositionTitle {
            font-size: 80%;
            margin: 0;
          }
          .asteriscoRed {
            color: red;
          }
        }
        #contactPrincipalDataPositionInput {
          height: 2.5vw;
          border-radius: 0.3vw;
          border: 1px solid rgb(199, 199, 199);
          width: 14vw;
        }
      }
      #contactPrincipalDataEmailContainer {
        #contactPrincipalDataEmailTitleDiv {
          display: flex;
          align-items: center;
          #contactPrincipalDataEmailTitle {
            font-size: 80%;
            margin: 0;
          }
          .asteriscoRed {
            color: red;
          }
        }
        #contactPrincipalDataEmailInput {
          height: 2.5vw;
          border-radius: 0.3vw;
          border: 1px solid rgb(199, 199, 199);
          width: 14vw;
        }
      }
      #contactPrincipalDataCompanyContainer {
        #contactPrincipalDataCompanyTitleDiv {
          display: flex;
          align-items: center;
          #contactPrincipalDataCompanyTitle {
            font-size: 80%;
            margin: 0;
          }
          .asteriscoRed {
            color: red;
          }
        }
        #contactPrincipalDataCompanyInput {
          height: 2.5vw;
          border-radius: 0.3vw;
          border: 1px solid rgb(199, 199, 199);
          overflow: visible;
          width: 14vw;
          padding: 0 0 0 0.2vw;
          background-position-x: 99%;
          background-position-y: 5px;
          font-size: 0.9vw;
        }
      }
    }
    #secondaryDataContainer {
      display: flex;
      flex-direction: column;
      z-index: 0;
      position: absolute;
      height: 40vw;
      width: 100%;
      background-color: white;
      top: 7.5vw;
      #secondaryDataFirstDiv {
        margin: 0 0 0 2vw;
        position: relative;
        top: 10vw;
        display: flex;
        justify-content: space-between;
        #secondaryDataFirstDivRegion {
          width: 16%;
          #secondaryDataFirstDivRegionTitle {
            font-size: 90%;
          }
          #secondaryDataFirstDivRegionSelect {
            width: 90%;
          }
        }
        #secondaryDataFirstDivCountry {
          width: 16%;
          #secondaryDataFirstDivCountryTitle {
            font-size: 90%;
          }
          #secondaryDataFirstDivCountrySelect {
            width: 90%;
            background-color: rgb(213, 213, 213);
          }
        }
        #secondaryDataFirstDivCity {
          width: 16%;
          #secondaryDataFirstDivCityTitle {
            font-size: 90%;
          }
          #secondaryDataFirstDivCitySelect {
            width: 90%;
            background-color: rgb(213, 213, 213);
          }
        }
        #secondaryDataFirstDivAddress {
          width: 16.865%;
          #secondaryDataFirstDivAddressTitle {
            font-size: 90%;
          }
          #secondaryDataFirstDivAddressInput {
            width: 72.46%;
            background-color: rgb(213, 213, 213);
            border-radius: 2px;
            padding: 1vw;
            border: 1px solid rgb(199, 199, 199);
            font-size: 80%;
          }
        }
        #secondaryDataFirstDivInterest {
          width: 30%;
          display: flex;
          #interestTitlePlusBar {
            margin-right: 1vw;
            width: 80%;
            #secondaryDataFirstDivInterestTitle {
              font-size: 90%;
            }
            #bar {
              display: flex;
              align-items: center;
              height: 3.5vw;
              #circleOfBar {
                border: 1px solid rgb(199, 199, 199);
                border-radius: 3vw;
                height: 1.5vw;
                width: 1.5vw;
                position: absolute;
                left: 69%;
                background-color: white;
              }
              #divOfDivs {
                width: 100%;
                height: 1vw;
                border-radius: 3px;
                border: 1px solid rgb(199, 199, 199);
                display: flex;
                margin-right: 1vw;
                .barDiv {
                  border: 1px solid rgb(199, 199, 199);
                  width: 25%;
                }
              }
              #porcentualInterestSelect {
                height: 3.175vw;
                width: 6vw;
                background-position-y: 10px;
                border-radius: 3px;
              }
            }
          }
        }
      }
      #secondaryDataSecondDiv {
        margin: 0 0 0 2vw;
        position: relative;
        top: 13vw;
        display: flex;
        align-items: flex-end;
        #secondaryDataSecondDivChannel {
          width: 16%;
          #secondaryDataSecondDivChannelTitle {
            font-size: 90%;
          }
          #secondaryDataSecondDivChannelSelect {
            width: 90%;
          }
        }
        #secondaryDataSecondDivUsername {
          width: 16.865%;
          margin-left: 1.5vw;
          #secondaryDataSecondDivUsernameTitle {
            font-size: 90%;
          }
          #secondaryDataSecondDivUsernameInput {
            width: 72.46%;
            background-color: rgb(213, 213, 213);
            border-radius: 2px;
            padding: 1vw;
            border: 1px solid rgb(199, 199, 199);
            font-size: 80%;
          }
        }
        #secondaryDataSecondDivPreferences {
          width: 16%;
          #secondaryDataSecondDivPreferencesTitle {
            font-size: 90%;
          }
          #secondaryDataSecondDivPreferencesSelect {
            width: 90%;
          }
        }
        #secondaryDataSecondDivAddChannel {
          border: 1px solid rgb(199, 199, 199);
          display: flex;
          justify-content: center;
          align-items: center;
          width: 12vw;
          height: 50%;
          margin-left: 1.5vw;
          #secondaryDataSecondDivAddChannelIcon {
            width: 30%;
            height: 100%;
          }
          #secondaryDataSecondDivAddChannelText {
            font-size: 80%;
            color: rgb(199, 199, 199);
            margin-right: 1vw;
          }
        }
      }
      #finalButtons {
        display: flex;
        flex-direction: row;
        z-index: 0;
        position: absolute;
        height: 5vw;
        background-color: white;
        top: 80%;
        margin: 0 0 0 60%;
        #cancelButton {
          background: white;
          border: none;
          color: rgb(185, 185, 185);
          font-weight: 700;
          height: 3.5vw;
          padding: 0.5vw;
          width: 10vw;
        }
        #saveContactButton {
          background: rgb(185, 185, 185);
          color: white;
          font-weight: 700;
          border: none;
          border-radius: 3px;
          height: 3.5vw;
          padding: 0.5vw;
          width: 13vw;
        }
      }
    }
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 98%;
  background-position-y: 10px;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 2px;
  padding: 1vw;
}
