body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

#header {
  height: 3vw;
  background-color: #5555d1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header #projectLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  text-decoration: none;
  font-weight: 800;
  font-size: 1.5vw;
  margin: 0vw 60vw 0 1vw;
  height: 3vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header #projectLogo #projectLogoText {
  margin: 0;
}

#header #navBar {
  display: block;
  width: 39%;
}

#header #navBar #navBarItems {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 3vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header #navBar #navBarItems .listItem {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header #navBar #navBarItems .listItem .navBarAnchors {
  color: white;
  font-size: 1vw;
  text-decoration: none;
}

#header #navBar #navBarItems .listItem .liBorder {
  width: 3vw;
  height: 1px;
  position: absolute;
  top: 2.9vw;
}

.listItem:hover > .navBarAnchors {
  color: white;
  font-weight: 800;
}

.listItem:hover > .liBorder {
  background-color: white;
}

#login {
  margin-top: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  margin-left: 20%;
  border: solid 1px blue;
  background-color: #82aeff;
}

#login #loginTitle {
  font-size: 5vw;
  margin: 3vw 0 3vw 0;
}

#login #loginUserInfo #loginForm #userLoginName {
  width: 40vw;
  height: 5vw;
  font-size: 3vw;
  text-align: center;
  font-weight: 100;
  margin-bottom: 3vw;
}

#login #loginUserInfo #loginForm #userLoginPassword {
  width: 40vw;
  height: 5vw;
  font-size: 3vw;
  text-align: center;
  font-weight: 100;
  margin-bottom: 3vw;
}

#login #loginUserInfo #loginForm #loginSubmitButton {
  width: 15vw;
  height: 5vw;
  font-size: 3vw;
  text-align: center;
  font-weight: 100;
  margin: 0 0 3vw 63%;
}

#signUp {
  width: 40vw;
  border: 1px solid #5555d1;
  margin: 3vw 0 0 30vw;
  background-color: #82aeff;
}

#signUp #signUpTitle {
  margin: 2vw 0 2vw 0;
  text-align: center;
  font-size: 2vw;
}

#signUp #formSignUpConteiner {
  width: 32vw;
  margin: 0 0 0 10%;
}

#signUp #formSignUpConteiner #formDivFormSignUpContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 12vw 20vw;
      grid-template-columns: 12vw 20vw;
  -ms-grid-rows: 3vw 3vw 3vw 3vw 3vw 3vw;
      grid-template-rows: 3vw 3vw 3vw 3vw 3vw 3vw;
  row-gap: 1.5vw;
  margin: 0 0 3vw 0;
}

#signUp #formSignUpConteiner #formDivFormSignUpContainer .signUpFormTexts {
  font-size: 1.3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#signUp #formSignUpConteiner #formDivFormSignUpContainer .signUpInputFormData {
  font-size: 1.1vw;
  border: 1px solid #5555d1;
}

#signUp #formSignUpConteiner #formDivFormSignUpContainer #signUpSubmitButton {
  -ms-grid-column: 2;
  grid-column: 2;
  width: 7vw;
  height: 3vw;
  font-size: 1.8vw;
  margin: 0 0 0 13vw;
  border: 1px solid #5555d1;
}

#regionCity {
  margin-top: 1vw;
}

#regionCity #addRegionCityButton {
  width: 20%;
  margin: 0 0 0 75.8%;
  border: 1px solid #82aeff;
  cursor: pointer;
}

#regionCity #addRegionCityButton #adddRegionCityButtonText {
  margin: 0;
  font-weight: 700;
  font-size: 2vw;
  text-align: center;
}

#regionCity #addRegionFormContainer {
  display: none;
}

#regionCity #addRegionFormContainer #inputRegion {
  display: none;
  margin: 0;
}

#regionCity #addRegionFormContainer #inputRegion #formControl {
  width: 68%;
  border: 0;
  border-right: 1px solid #82aeff;
}

#regionCity #addRegionFormContainer #inputRegion .inputRegionCreate {
  width: 31%;
  height: 100%;
}

#regionCity #addRegionFormContainer #inputRegion .inputRegionCreate .regionAddButton {
  display: block;
  width: 100%;
  padding: 0.602222222vw;
  border: 0;
  background-color: white;
  cursor: pointer;
}

#regionCity #regionCityUl {
  margin: 2vw 0 0 0;
}

#regionCity #regionCityUl .regionEntry .regionPlusAddButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#regionCity #regionCityUl .regionEntry .regionPlusAddButton .regionNameUl {
  margin: 0 0 0 0;
}

#regionCity #regionCityUl .regionEntry .regionPlusAddButton .regionNameUl .regionName {
  font-weight: 700;
  font-size: 1.4vw;
  margin: 0;
}

#regionCity #regionCityUl .regionEntry .regionPlusAddButton .regionNameUl .countryEntry {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40vw 3vw 5vw 30vw;
      grid-template-columns: 40vw 3vw 5vw 30vw;
  grid-gap: 1vw;
  margin-top: 3vw;
}

#regionCity #regionCityUl .regionEntry .regionPlusAddButton .regionNameUl .countryEntry .countryNameUl {
  font-weight: 600;
}

#regionCity #regionCityUl .regionEntry .regionPlusAddButton .regionNameUl .countryEntry .editCountry {
  height: 2vw;
  border: 1px solid #82aeff;
  cursor: pointer;
}

#regionCity #regionCityUl .regionEntry .regionPlusAddButton .regionNameUl .countryEntry .editCountry .editCountryText {
  margin: 0;
  text-align: center;
}

#regionCity #regionCityUl .regionEntry .regionPlusAddButton .regionNameUl .countryEntry .deleteCountry {
  height: 2vw;
  border: 1px solid #82aeff;
  cursor: pointer;
}

#regionCity #regionCityUl .regionEntry .regionPlusAddButton .regionNameUl .countryEntry .deleteCountry .deleteCountryText {
  margin: 0;
  text-align: center;
}

#regionCity #regionCityUl .regionEntry .regionPlusAddButton .regionNameUl .countryEntry .addCity {
  height: 2vw;
  border: 1px solid #82aeff;
  margin-left: 30vw;
  width: 7vw;
  cursor: pointer;
}

#regionCity #regionCityUl .regionEntry .regionPlusAddButton .regionNameUl .countryEntry .addCity .addCityText {
  margin: 0;
  text-align: center;
}

#regionCity #regionCityUl .regionEntry .regionPlusAddButton .regionNameUl .countryEntry .cities {
  margin-left: 8vw;
  list-style-type: none;
}

#regionCity #regionCityUl .regionEntry .regionPlusAddButton .regionNameUl .countryEntry .cities .cityEntry {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15vw 5vw 5vw;
      grid-template-columns: 15vw 5vw 5vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 1vw;
  margin-bottom: 1vw;
}

#regionCity #regionCityUl .regionEntry .regionPlusAddButton .regionNameUl .countryEntry .cities .cityEntry .editCity {
  border: 1px solid #82aeff;
  cursor: pointer;
}

#regionCity #regionCityUl .regionEntry .regionPlusAddButton .regionNameUl .countryEntry .cities .cityEntry .editCity .editCityText {
  margin: 0;
  text-align: center;
}

#regionCity #regionCityUl .regionEntry .regionPlusAddButton .regionNameUl .countryEntry .cities .cityEntry .deleteCity {
  cursor: pointer;
  border: 1px solid #82aeff;
}

#regionCity #regionCityUl .regionEntry .regionPlusAddButton .regionNameUl .countryEntry .cities .cityEntry .deleteCity .deleteCityText {
  margin: 0;
  text-align: center;
}

#regionCity #regionCityUl .regionEntry .regionPlusAddButton .regionAddCountryButton {
  border: 1px solid #82aeff;
  height: 4vw;
  width: 7vw;
  cursor: pointer;
}

#regionCity #regionCityUl .regionEntry .regionPlusAddButton .regionAddCountryButton .regionAddCountryButtonText {
  margin: 0;
  text-align: center;
}

#companySection {
  margin: 0 5vw 0 5vw;
}

#companySection #companyTitlePlusAddButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4vw 0 4vw 0;
}

#companySection #companyTitlePlusAddButton #companyTitle {
  font-size: 3vw;
  margin: 0;
}

#companySection #companyTitlePlusAddButton #addCompanyButton {
  width: 15vw;
  height: 3.8vw;
  border: 1px solid #5555d1;
}

#companySection #companyTitlePlusAddButton #addCompanyButton #addCompanyButtonText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.8vw;
  margin: 0;
  height: 3.8vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#companySection #companiesList {
  width: 89vw;
  border: 1px solid #5555d1;
  margin: 0 0 0 1vw;
}

#companySection #companiesList #companiesListTitles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #82aeff;
}

#companySection #companiesList #companiesListTitles .companySubTitle {
  font-size: 1.8vw;
}

#companySection #companiesList #companiesListInfoGrid .companyDiv {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 23% 27% 25%;
      grid-template-columns: 25% 23% 27% 25%;
  margin: 1vw  0;
}

#companySection #companiesList #companiesListInfoGrid .companyDiv .companyName {
  text-align: center;
}

#companySection #companiesList #companiesListInfoGrid .companyDiv .companyCountry {
  text-align: center;
}

#companySection #companiesList #companiesListInfoGrid .companyDiv .companyAddress {
  text-align: center;
}

#companySection #companiesList #companiesListInfoGrid .companyDiv .companyButtonsDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 32.5%;
}

#companySection #companiesList #companiesListInfoGrid .companyDiv .companyButtonsDiv .companyEditButton {
  width: 60%;
}

#companySection #companiesList #companiesListInfoGrid .companyDiv .companyButtonsDiv .companyDeleteButton {
  width: 30%;
}

#contactSection {
  margin: 2vw 0 0 0;
}

#contactSection #contactSearchActionsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#contactSection #contactSearchActionsContainer #contactsSearchDiv {
  width: 40vw;
  margin: 0 0 0 2vw;
}

#contactSection #contactSearchActionsContainer #contactsSearchDiv #contactsSearchDivTitle {
  font-size: 3vw;
  margin: 0 0 0.5vw 0;
}

#contactSection #contactSearchActionsContainer #contactsSearchDiv #contactsSearchBarPlusIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contactSection #contactSearchActionsContainer #contactsSearchDiv #contactsSearchBarPlusIcon #contactsSearchBar {
  border: 1px solid #82aeff;
  margin: 0 0 0 0vw;
  border-radius: 0.3vw;
  width: 70%;
  height: 2.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contactSection #contactSearchActionsContainer #contactsSearchDiv #contactsSearchBarPlusIcon #contactsSearchBar #contactsSearchBarTextInput {
  font-size: 1.3vw;
  border: none;
  width: 92%;
  font-weight: 300;
}

#contactSection #contactSearchActionsContainer #contactsSearchDiv #contactsSearchBarPlusIcon #contactsSearchBar #contactsSearchBarArrowIcon {
  width: 0.7vw;
  height: 0.7vw;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  padding: 0.557vw;
}

#contactSection #contactSearchActionsContainer #contactsSearchDiv #contactsSearchIcon {
  border: 1px solid #82aeff;
  padding: 0.5vw;
  width: 1.5vw;
  height: 1.5vw;
  border-radius: 0.2vw;
  margin-left: 0.6vw;
}

#contactSection #contactSearchActionsContainer #contactsActionsDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0 2vw 0 0;
  width: 26vw;
}

#contactSection #contactSearchActionsContainer #contactsActionsDiv #exportContactArrowIcon {
  width: 1.3vw;
  height: 1.3vw;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  border: 1px solid #82aeff;
  margin: 0;
  border-radius: 0.2vw;
  padding: 0.6vw;
}

#contactSection #contactSearchActionsContainer #contactsActionsDiv #exportContact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2.5vw;
  border: 1px solid #82aeff;
  border-radius: 0.3vw;
}

#contactSection #contactSearchActionsContainer #contactsActionsDiv #exportContact #exportContactText {
  margin: 0;
  padding: 0.6VW 1VW;
  font-size: 0.8vw;
  color: #82aeff;
}

#contactSection #contactSearchActionsContainer #contactsActionsDiv #exportContact #exportContactDownArrow {
  width: 1vw;
  height: 1vw;
  padding: 0.557vw;
}

#contactSection #contactSearchActionsContainer #contactsActionsDiv #addContact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2.5vw;
  border: 1px solid #82aeff;
  border-radius: 0.3vw;
  background-color: #5555d1;
}

#contactSection #contactSearchActionsContainer #contactsActionsDiv #addContact #addContactText {
  margin: 0;
  padding: 0.6VW 1VW;
  font-size: 0.8vw;
  color: #82aeff;
}

#contactSection #contactsDashboard {
  border: 1px solid #82aeff;
  border-radius: 0.3vw;
  width: 95vw;
  margin: 2vw 0 0 2.5vw;
}

#contactSection #contactsDashboard #contactDashboardStatic {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contactSection #contactsDashboard #contactDashboardStatic #contactsDashboardTitleCheckBox {
  width: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contactSection #contactsDashboard #contactDashboardStatic #contactDashboardTitlesDBInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}

#contactSection #contactsDashboard #contactDashboardStatic #contactDashboardTitlesDBInfo .ContactDashboardTitles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contactSection #contactsDashboard #contactDashboardStatic #contactDashboardTitlesDBInfo .ContactDashboardTitles .contactDashboardTitlesTexts {
  margin: 0 0.2vw 0 0;
}

#contactSection #contactsDashboard #contactDashboardStatic #contactDashboardTitlesDBInfo .ContactDashboardTitles .contactDashboardDoubleArrow {
  width: 1vw;
  height: 1vw;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

#contactSection #contactsDashboard #contactDashboardStatic #contactsDashboardActionTitleDiv {
  width: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contactSection #contactsDashboard #dashboardBreaker {
  width: 100%;
  height: 1px;
  background-color: #82aeff;
}

#contactSection #contactsDashboard #contactDashboardDynamic {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#contactSection #contactsDashboard #contactDashboardDynamic .contactDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=style.css.map */