<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Data-Warehose Project Companies</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../style.css" />
    <script defer src="../frontScripts/company.js"></script>
    <script defer src="../frontScripts/navbar.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>

  <body>
    <header id="header">
      <a id="projectLogo" href="./dashboard.html">
        <p id="projectLogoText">CONNET</p>
      </a>
      <div id="navBar">
        <ul class="menu" id="navBarItems">
          <li class="listItem" id="contactsButton">
            <a
              class="navBarAnchors"
              id="contactsButtonAnchor"
              href="./dashboard.html"
              >Contactos</a
            >
            <div class="liBorder"></div>
          </li>
          <li class="listItem" id="usersButton">
            <a class="navBarAnchors" href="./signup.html"> Usuarios</a>
            <div class="liBorder"></div>
          </li>

          <li class="listItem" id="companiesButton">
            <a class="navBarAnchors" href="./company.html">Compañias</a>
            <div class="liBorder"></div>
          </li>

          <li class="listItem" id="regionCityButton">
            <a class="navBarAnchors" href="./regionCity.html">Region/Ciudad</a>
            <div class="liBorder"></div>
          </li>
        </ul>
      </div>
    </header>
    <section id="companySection">
      <div id="companyTitlePlusAddButton">
        <h3 id="companyTitle">Compañias</h3>
        <div id="addCompanyButton" onclick="createCompany(this)">
          <p id="addCompanyButtonText">Agregar</p>
        </div>
      </div>
      <div id="companiesList">
        <div id="companiesListTitles">
          <p class="companySubTitle" id="companyNameListTitle">Nombre</p>
          <p class="companySubTitle" id="companyCountryListTitle">País</p>
          <p class="companySubTitle" id="companyAddressListTitle">Dirección</p>
          <p class="companySubTitle" id="companyActionsListTitle">Acciones</p>
        </div>
        <div id="companiesListInfoGrid"></div>
      </div>
    </section>
    <section id="blurSection"></section>
  </body>
</html>
