<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Data-Warehose Project Region/City</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700&display=swap"
      rel="stylesheet"
    />
    <script defer src="../frontScripts/regionCity.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script defer src="../frontScripts/navbar.js"></script>
    <link rel="stylesheet" href="../style.css" />
  </head>

  <body>
    <header id="header">
      <a id="projectLogo" href="./dashboard.html">
        <p id="projectLogoText">CONNET</p>
      </a>
      <div id="navBar">
        <ul class="menu" id="navBarItems">
          <li class="listItem" id="contactsButton">
            <a
              class="navBarAnchors"
              id="contactsButtonAnchor"
              href="./dashboard.html"
              >Contactos</a
            >
            <div class="liBorder"></div>
          </li>
          <li class="listItem" id="usersButton">
            <a class="navBarAnchors" href="./signup.html"> Usuarios</a>
            <div class="liBorder"></div>
          </li>

          <li class="listItem" id="companiesButton">
            <a class="navBarAnchors" href="./company.html">Compañias</a>
            <div class="liBorder"></div>
          </li>

          <li class="listItem" id="regionCityButton">
            <a class="navBarAnchors" href="./regionCity.html">Region/Ciudad</a>
            <div class="liBorder"></div>
          </li>
        </ul>
      </div>
    </header>
    <section id="regionCity">
      <div id="addRegionCityButton" toggle="false">
        <p id="adddRegionCityButtonText">Agregar región</p>
      </div>
      <div id="addRegionFormContainer">
        <div id="inputRegion">
          <input type="text" id="formControl" placeholder="Region Name" />
          <div class="inputRegionCreate">
            <button
              class="regionAddButton"
              onclick="createRegion()"
              type="button"
            >
              Create
            </button>
          </div>
        </div>
      </div>
      <ul id="regionCityUl"></ul>
    </section>
    <section id="blurSection"></section>
  </body>
</html>
