#login {
  margin-top: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin-left: 20%;
  border: solid 1px black;
  background-color: rgb(85, 85, 209);
  #loginTitle {
    font-size: 5vw;
    margin: 3vw 0 3vw 0;
  }
  #loginUserInfo{
    #loginForm{
      #userLoginName{
        width: 40vw;
        height: 5vw;
        font-size: 3vw;
        text-align: center;
        font-weight: 100;
      }
    } 
  }
}
