#header {
  height: 3vw;
  background-color: rgb(85, 85, 209);
  display: flex;
  #projectLogo {
    display: flex;
    color: white;
    text-decoration: none;
    font-weight: 800;
    font-size: 1.5vw;
    margin: 0vw 60vw 0 1vw;
    height: 3vw;
    justify-content: center;
    align-items: center;
    #projectLogoText {
      margin: 0;
    }
  }
  #navBar {
    display: block;
    width: 39%;
    #navBarItems {
      list-style: none;
      display: flex;
      justify-content: space-around;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 3vw;
      align-items: center;
      .listItem {
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        .navBarAnchors {
          color: white;
          font-size: 1vw;
          text-decoration: none;
        }
        .liBorder {
          width: 3vw;
          height: 1px;
          position: absolute;
          top: 2.9vw;
        }
      }
    }
  }
}

.listItem:hover > .navBarAnchors {
  color: rgba(255, 255, 255, 1);
  font-weight: 800;
}

.listItem:hover > .liBorder {
  background-color: white;
}
